BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignAfterOpenBracket: true
AlignArrayOfStructures: Right
AlignEscapedNewlines: Right
AlignOperands: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
