BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignAfterOpenBracket: true
AlignArrayOfStructures: Right
AlignEscapedNewlines: Right
# AllowShortBlocksOnASingleLine: Always
